<!DOCTYPE html>
<html>
  <head>
    <title>GnarPowDailyDeal</title>
    <meta content='text/html; charset=UTF-8' http-equiv='content-type' />
  </head>
  <body>
    <h1>GnarPow Daily Deal!!!</h1>
    <a href="http://gnarpow.herokuapp.com/items/4">Checkout today's Featured Board!</a>
  </body>
</html>
