<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper light-blue darken-3">
      <a href="/" class="brand-logo push-logo-right">GnarPow<i class="material-icons right">terrain</i></a>
      <ul class="right hide-on-med-and-down">
        <li>
        </li>
        <ul id="dropdown1" class="dropdown-content">
          <li><a href="categories/snowboards">Snowboards</a></li>
          <li><a href="categories/apparel">Apparel</a></li>
          <li><a href="categories/boots">Boots</a></li>
          <li><a href="categories/bindings">Bindings</a></li>
          <li class="divider"></li>
          <li><a href="/admin/items">All Items</a></li>
        </ul>
        <li><a id="go-to-dash" href="/admin/dashboard">Dashboard</a></li>
        <li><a class="dropdown-button" data-activates="dropdown1">Categories<i class="material-icons right">arrow_drop_down</i></a></li>
          <% if current_user %>
            <li><%= link_to "Logout", logout_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Login", login_path %></li>
          <% end %>
      </ul>
    </div>
  </nav>
</div>
