<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo push-logo-right">GnarPow</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/items">Items</a></li>
        <li><a href="/categories/snowboards">Snowboards</a></li>
        <li><a href="/categories/apparel">Apparel</a></li>
      </ul>
    </div>
  </nav>
</div>
