<ul class="side-nav fixed restyle-nav">
  <li><a class="underline not-active" href="#!"><strong>Brands</strong></a></li>
  <li><a href="#!">Second Sidebar Link</a></li>
  <li><a href="#!">Second Sidebar Link</a></li>
  <li><a href="#!">Second Sidebar Link</a></li>
  <li><a href="#!">Second Sidebar Link</a></li>
</ul>
