<div class="center">
  <h4><%= current_user.username  %>'s Dashboard</h4>
  <br>
  <%= link_to "SHOP", items_path, class:"btn large" %>
  <%= link_to "YOUR ORDERS", orders_path, class: "btn large" %>
</div>
