<h1>Snowboards</h1>

<% @items.each do |item| %>
  <ul>
    <h3>Name: <%= item.name %></h3>
    <li> Description: <%= item.description %></li>
    <li>Price: $<%= item.price %></li>
  </ul>
<% end %>
