/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.item-title {
  font-size: 18px !important;
}

.card-image img {
  padding: 15px;
  width: 47% !important;
  margin: auto;
}

.push-logo-right {
  margin-left: 10px;
}

.card-title {
    width: 100%;
    text-align: center;
    opacity: 0.7;
}

.card .card-content p {
  margin-bottom: 15px !important;
}

.add-to-cart {
  margin-left: 10px;
}

.flash_remove {
  color: green;
}

.cart-count {
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff !important;
  border-radius: 2px;
  color: #fff;
  background-color: #26a69a;
  border-radius: 2px;
}

span.badge.cart-count:after {
  content: " in cart"; }


.cart-icon {
  margin-top: 20px;
}

.indicator-item.active {
    background-color: lightblue !important;
  }

.slides {
  height: 570px !important;
}

.slider {
  height: 610px !important;
}

.center-content {
  margin: auto;
}

.canceled {
  background-color: #ef5350;
  color: white;
}

.ordered {
  background-color: #ff9800;
  color: white;
}

.completed {
  background-color: #66bb6a;
  color: white;
}

.paid {
  background-color: #29b6f6;
  color: white;
}

.cancel-link {
  color: #ef5350;
}

.complete-link {
  color: #66bb6a;
}

.brand-logo {
  font-family: 'Gloria Hallelujah', cursive;
}
